root=true

[*]
charset=utf-8
indent_style=tab
indent_size=4
end_of_line=lf
insert_final_newline=false
trim_trailing_whitespace=false
space_before_type_parameters_brackets=false
space_within_type_parameters_brackets=false
space_before_colon_in_type_annotation=false
space_after_colon_in_type_annotation=false
space_around_pipe_or_amper_in_type_usage=false
space_after_comma=false
space_before_comma=false
space_before_semicolon=false
space_before_semicolon_in_for_statement=false
space_after_semicolon_in_for_statement=false
space_before_method_call_parentheses=false
space_before_empty_method_call_parentheses=false
space_between_method_call_parameter_list_parentheses=false
space_between_method_call_empty_parameter_list_parentheses=false
space_before_method_parentheses=false
space_before_method_parentheses_anonymous=false
space_between_method_declaration_empty_parameter_list_parentheses=false
space_between_method_declaration_parameter_list_parentheses=false
space_after_keywords_in_control_flow_statements=false
space_between_parentheses_of_control_flow_statements=false
space_before_open_square_brackets=false
space_between_square_brackets=false
space_before_ternary_quest=false
space_after_ternary_quest=false
space_before_ternary_colon=false
space_after_ternary_colon=false
space_before_property_colon=false
space_after_property_colon=false
space_within_object_literal_braces=false
space_within_empty_object_literal_braces=false
space_within_import_braces=false
space_between_square_brackets=false
space_between_empty_square_brackets=false
space_around_binary_operator=false
space_around_assignment_operator=false
space_around_dot=false
space_within_parentheses=false
space_before_colon_in_case=false
space_before_arrow=false
space_after_arrow=false
space_within_template_argument=false
types_braces=end_of_line_no_space